.feed{
    width:100%;
    max-width:630px;
    margin:auto;
    padding:20px;
}

.post-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
}
@media (max-width: 900px) {
  .post-list {
    grid-template-columns: 1fr;
  }
}
@media (max-width:768px){

.feed{
padding:10px;
}
}