.footer {
  position: static;

  min-height: var(--footer-height);
  margin-left: 245px;
  padding: 36px 10px 52px;

  flex-shrink: 0;

  background: var(--bg-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.footer-links {
  width: 100%;
  margin: 0 0 42px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  gap: 50px;
}

.footer-links a {
  color: #8e8e8e;

  font-size: 12px;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-copy {
  width: 100%;
  margin: 0;

  color: #8e8e8e;

  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

@media (max-width: 992px) {
  .footer {
    margin-left: 80px;
  }
}

@media (max-width: 768px) {
  .footer {
    margin-left: 0;
    padding: 28px 10px 30px;
  }

  .footer-links {
    margin-bottom: 26px;

    gap: 20px;
    row-gap: 12px;
  }

  .footer-links a,
  .footer-copy {
    font-size: 11px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding-top: 4px;
    padding-bottom: 16px;
  }

  .footer-links {
    gap: 12px;
    row-gap: 8px;
    margin-bottom: 12px;
  }

  .footer-links a {
    font-size: 10px;
  }

  .footer-copy {
    font-size: 10px;
    margin-bottom: 0;
  }
}